body{
    text-align: center;
    background-color: #0B192F;
    box-sizing: border-box;
}

::selection{
    background-color: #CCD6F6;
    color: #0B192F;
}
/* navbar */
.container-fluid{
    padding: 0% 7%;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);;
}

.navbar-brand{
    font-size: 2rem;
    color: #64FFDA;
    font-family: 'Candal', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item{
    padding: 0 18px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Fira Code', monospace;
}

.nav-item a:hover {
    color: #64FFDA;
}

/* name */

#hello-world{
    color: #64FFDA;
    font-family: 'Cabin', sans-serif;
    font-family: 'Candal', sans-serif;
    font-family: 'Fira Code', monospace;
}

#name{
    color: #CCD6F6;
    font-size: 5rem;
}

#subtitle{
    color: #8892AF;
    font-size: 4rem;
}

.heading p{
    color: #8892AF;
    line-height: 1.5rem;
}

.heading a{
    color: #64FFDA;
    text-decoration: none;
}

.row{
    padding: 3% 15%;
}

.row h1{
    font-family: 'Candal', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    color: blueviolet;
    line-height: 1.5;
}

.row h2{
    font-family: 'Candal', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.heading{
    text-align: left;
    line-height: 2;
    padding: 7% 15%;
}

.btn{
    padding: 10px 20px;
    outline-color: #64FFDA;
    font-family: 'Fira Code', monospace;
}

/* About Me */
#aboutMe{
    padding-top: 100px;
}
#aboutMe h3{
    color: #CCD6F6;
}
#aboutMe p{
    color: #8892AF;
    text-align: justify;
}

.my-img{
    background-image: url(./images/mebw.JPG);
    width: 300px;
    height: 380px;
    border: 0 solid #64FFDA;
    margin: auto;
    background-size: cover;
    margin-top: 30px;
    border-radius: 5%;
}
.my-img:hover{
    background-image: url(./images/me.JPG);
}

/* media query */
@media(max-width: 767px){
    #title{
        text-align: center;
    }
    body{
        transform: scale(1.2);
        transform-origin: top;
    }
    .my-img{
        
        text-align: center;
        position: static;
    }
}

/* Skills */
#skills h3{
    color: #CCD6F6;
}

.my-skills{
    padding: 0px;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    margin-top: 0px;
}

#skill-elements p{
    color: #64FFDA;
    font-family: 'Fira Code', monospace;
}

#foot{
    font-family: 'Fira Code', monospace;
    color: #CCD6F6;
    font-size: 0.8rem;
}
#foot a{
    color: #64FFDA;
    text-decoration: none;
}

/* Education */
#education{
    padding-top: 200px;
    color: #CCD6F6;
    margin-bottom: 10%;
}

/* Testimonials */

#testimonials{
    color: #8892AF;
    
    line-height: 3;
}

.testimonial-text{
    font-family: 'candal';
}

.carousel-item{
    padding: 3% 15%;

}

.testimonial_image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-control-prev-icon{
    margin-left: 180px;
}

.carousel-control-next-icon{
    margin-right: 180px;
}

/* Projects */

.container {
    padding: 10px 10%;
}
.sub-title {
    color: #CCD6F6;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: #0B192F;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}
.layer h2 {
    margin-bottom: 30px;
    color: #CCD6F6;
}
.layer p {
    color: #8892AF;
}
.layer a {
    margin-top: 30px;
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn_project {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0B192F;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.75s;
}
.btn_project:hover {
    background: #0B192F;
}

/* Certification */

#certificate{
    margin-top: 15%;
}

/* Contact */
#contact{
    margin-top: 20%;
}
#next{
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: #64FFDA;
}

.my-msg {
    margin-top: 30px;
    margin-bottom: 60px;
    color: #8892AF;
    line-height: 1.5em; /* Adjust line spacing if needed */
}

/* font awesome icons */

.fa-2xl{
    padding: 2px;
    margin-bottom: 35px;
    transition: transform 0.3s ease-in-out;
}

.fa-brands:hover{
    transform: scale(1.3);
}

.fa-solid:hover{
    transform: scale(1.3);
}
